PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=examplepassword
DB_NAME=fovwebdb
FFMPEG_PATH=/opt/homebrew/bin/ffmpeg
MEDIA_ROOT=./media
TWITCH_CLIENT_ID=YOUR_CLIENT_ID_HERE
TWITCH_CLIENT_SECRET=YOUR_CLIENT_SECRET_HERE
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d